html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.SideBarBody {
  flex: 2;
  padding: 20px;
}

.MainPageBody {
  flex: 8;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.upper-section {
  flex: 9;
  padding: 20px;
}

.lower-section {
  flex: 1;
  border: 1px solid green;
  padding: 20px;
}
